{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>

   
   <!-- Link Swiper's CSS -->
   <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './css/product.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
      
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                <li>
                    <a class="logo" href="./index.html">
                        <img src="./images/لوگو هران 1.png" alt="">
                    </a>

                </li>

                <li> <a href="">صفحه اصلی</a></li>
                <li> <a href="">محصولات ما</a> </li>
                <li> <a href="">دسته بندی ها </a> </li>
                <li> <a href=""> نمونه کارها</a> </li>
                <li> <a href="">اعطای نمایندگی</a></li>
            </ul>

            <ul class="left-menu">
                <li><img src="{% static './images/shopping-cart.png' %}" alt=""></li>
                <li>
                    <a href=""> ورود / ثبت نام</a>
                </li>
                <li>
                    <img src="{% static './images/Vector.png' %}" alt="">
                </li>
                <li>
                    <img src="{% static './images/menu.png' %}" alt="">
                </li>
            </ul>

        </nav>
        <div class="searchBox">
            <input class="search" type="text" name="search" id="search-input" placeholder="لوستر">
            <button class="search_logo">
                <img src="{% static './images/Frame.png' %}" alt="">
            </button>
        </div>
    </header>

    <main>
        <div class="top-category">
            <a href="#"> دسته بندی ها </a>
            <span> / </span>
            <a href="#"> روشنایی </a>
            <span> / </span>
            <a href="#"> لوستر </a>
        </div>
        <div class="container1">
            <div class="icons">
                <img src="{% static './images/share-icon.png' %}" alt="share-icon">
                <img src="{% static './images/like-icon.png' %}" alt="like-icon">
                <img src="{% static './images/notification-icon.png' %}" alt="notification-icon">
            </div>

            <div class=" custom-container">
                <div class="carousel-container position-relative row"
                    style="overflow: hidden; width: 513px; height: 600px;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-slide-number="0">
                                <img src="{% static './images/camera-slider-img.png' %}" class="d-block custom-img" alt="..."
                                    data-remote="https://source.unsplash.com/Pn6iimgM-wo/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="1">
                                <img src="https://source.unsplash.com/tXqVe7oO-go/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/tXqVe7oO-go/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="2">
                                <img src="https://source.unsplash.com/qlYQb7B9vog/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/qlYQb7B9vog/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="3">
                                <img src="https://source.unsplash.com/QfEfkWk1Uhk/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/QfEfkWk1Uhk/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="4">
                                <img src="https://source.unsplash.com/CSIcgaLiFO0/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/CSIcgaLiFO0/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="5">
                                <img src="https://source.unsplash.com/a_xa7RUKzdc/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/a_xa7RUKzdc/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="6">
                                <img src="https://source.unsplash.com/uanoYn1AmPs/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/uanoYn1AmPs/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="7">
                                <img src="https://source.unsplash.com/_snqARKTgoc/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/_snqARKTgoc/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="8">
                                <img src="https://source.unsplash.com/M9F8VR0jEPM/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/M9F8VR0jEPM/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                            <div class="carousel-item" data-slide-number="9">
                                <img src="https://source.unsplash.com/Q1p7bh3SHj8/1600x900/" class="d-block custom-img"
                                    alt="..." data-remote="https://source.unsplash.com/Q1p7bh3SHj8/" data-type="image"
                                    data-toggle="lightbox" data-gallery="example-gallery">
                            </div>
                        </div>
                    </div>

                    <!-- Carousel Navigation -->
                    <div id="carousel-thumbs" class="carousel slide custom-thumbs" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class=" mx-0">
                                    <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected"
                                        data-target="#myCarousel" data-slide-to="0">
                                        <img src="{% static './images/camera-slider-img.png' %}"
                                            class="img-fluid custom-img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2"
                                        data-target="#myCarousel" data-slide-to="1">
                                        <img src="https://source.unsplash.com/tXqVe7oO-go/600x400/"
                                            class="img-fluid custom-img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2"
                                        data-target="#myCarousel" data-slide-to="2">
                                        <img src="https://source.unsplash.com/qlYQb7B9vog/600x400/"
                                            class="img-fluid custom-img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class=" mx-0">
                                    <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2"
                                        data-target="#myCarousel" data-slide-to="6">
                                        <img src="https://source.unsplash.com/uanoYn1AmPs/600x400/"
                                            class="img-fluid custom-img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2"
                                        data-target="#myCarousel" data-slide-to="7">
                                        <img src="https://source.unsplash.com/_snqARKTgoc/600x400/"
                                            class="img-fluid custom-img-fluid" alt="...">
                                    </div>
                                    <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2"
                                        data-target="#myCarousel" data-slide-to="8">
                                        <img src="https://source.unsplash.com/M9F8VR0jEPM/600x400/"
                                            class="img-fluid custom-img-fluid" alt="...">
                                    </div>
                                    <div class="col-2 px-1 py-2"></div>
                                    <div class="col-2 px-1 py-2"></div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev custom-prev" href="#carousel-thumbs" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next custom-next" href="#carousel-thumbs" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div> <!-- /row -->
            </div> <!-- /container -->




            <div class="product-info">
                <div class="product-description">
                    <div class="description-details">
                        <h2>آباژور کد133</h2>
                        <p>رنگ بدنه: مشکی</p>
                        <div class="colors">
                            <span id="black"></span>
                            <span id="yellow"></span>
                            <span></span>
                        </div>
                        <p>رنگ نور : افتابی مهتابی</p>
                        <p>وزن:</p>
                        <p>ابعاد:</p>
                        <p>وارداتی</p>
                    </div>
                    <div class="description-price">
                        <div class="product-exist">
                            <img src="{% static './images/exist-product.png' %}" alt="exist-icon">
                            <p>موجود در انبار</p>
                        </div>
                        <div class="garanti">
                            <img src="{% static './images/garanti.png' %}" alt="garanti-icon">
                            <p>گارانتی اصالت و سلاامت فیزیکی محصول</p>
                        </div>
                        <div class="send-product">
                            <img src="{% static './images/send-icon-car.png' %}" alt="send-icon">
                            <p>ارسال کالا</p>
                        </div>
                        <div class="price-product">
                            <img src="{% static './images/price-send-with-car.png' %}" alt="car-icon">
                            <div class="price-product-number">
                                <p>هزینه ارسال:</p>
                                <span>40,000 تومان</span>
                            </div>
                        </div>
                        <div class="total-price">
                            <span>تومان</span>
                            <h3>4,580,000</h3>
                        </div>
                        <button class="add-to-card-btn" type="submit">
                            افزودن به سبد خرید
                        </button>
                    </div>
                </div>
                <div class="other-description">
                    <h3 class="other-description-title">
                        سایر توضیحات:
                    </h3>
                    <p >میزان برق مصرفی</p>
                    <p >میزان نوردهی:</p>
                    <p class="last-other-description-p">میزان نوردهی:</p>
                </div>
                <div class="help">
                    <img src="./images/help.png" alt="help-icon">
                    <span>نحوه ارسال سفارشات از طریق خود کاربر مشخص می شود و هزینه باربری و ارسال سفارشات بر اساس وزن
                        حجم بار و نحوه باربری می باشد. </span>
                </div>
            </div>



        </div>
        <section class="product-introduction">
            <h2 class="product-introduction-title">معرفی</h2>
            <p>استفاده از چوب روس به رنگ قهوه ای تیره (سوخته )دارای پایه ها با قابلیت چرخش که باعث تنظیم زاویه بین پایه
                ها و میزان ارتفاع می شود .تنوع گسترده در انتخاب رنگ کلاهک</p>
        </section>

        <section class="comments">
            <h2 class="comments-title">دیدگاه ها </h2>
            <div class="comment">
                <div class="comment-user">
                    <div class="comment-user-info">
                        <img class="comment-user-profile" src="./images/decor.png" alt="profile">
                        <h5 class="comment-user-name">زهرا صادقی</h5>
                        <img class="comment-user-stars" src="./images/4stars.png" alt="stars">
                    </div>
                    <div class="comment-user-date">
                        <p>خریدار</p>
                        <p>6 اسفند 1400</p>
                    </div>
                    <div class="comment-text">
                        <span>زیباست جلوه خوبی داره امایکی ازپایهاحدود۳سانت کوچیکترازبقیه بود</span>
                        <img src="./images/like-icon (2).png" alt="like-icon">
                    </div>
                    <div class="comment-input">
                        <input type="text">
                        <img src="./images/comment-icon.png" alt="comment-icon">
                    </div>
                </div>
                <div class="comment-upload">
                    <img  class="comment-image-upload" src="{% static './images/camera-slider-img.png' %}" alt="product-image">
                    <label for="inputTag" >
                        <img class="comment-upload-icon" src="./images/download-icon.png" alt="download-icon"> <br />

                        اپلود فایل
                        <input id="inputTag" type="file" />
                        <br />
                        <span id="imageName"></span>
                    </label>
                </div>
            </div>
        <!-- second comment  -->
            <div class="comment">
                <div class="comment-user">
                    <div class="comment-user-info">
                        <img class="comment-user-profile" src="./images/decor.png" alt="profile">
                        <h5 class="comment-user-name"> سارا علیزاده</h5>
                        <img class="comment-user-stars" src="./images/5stars.png" alt="stars">
                    </div>
                    <div class="comment-user-date">
                        <p>خریدار</p>
                        <p>9 مهر 1400</p>
                    </div>
                    <div class="comment-text">
                        <span> بهترینه خیلی خوبه ممنون  </span>
                        <img src="./images/like-icon (2).png" alt="like-icon">
                    </div>
                    <div class="comment-input">
                        <input type="text">
                        <img src="./images/comment-icon.png" alt="comment-icon">
                    </div>
                </div>
                <div class="comment-upload">
                    
                    <label for="inputTag" >
                        <img class="comment-upload-icon" src="./images/download-icon.png" alt="download-icon"> <br />

                        اپلود فایل
                        <input id="inputTag" type="file" />
                        <br />
                        <span id="imageName"></span>
                    </label>
                </div>
            </div>
            <div class="submit-buttns">
                <button type="submit">ثبت دیدگاه ها</button>
                <a href="">مشاهده همه نظر ها</a>
            </div>
        </section>

        <section class="slidersSection">
            <div class="catgory-buttonsBox">
              <button>
                پر بازدیدترین
              </button>
              <button>
                جدیدترین ها
              </button>
              <button>
                تخفیف خورده ها
              </button>
            </div>
      
            <!-- Swiper -->
            <div class="swiper mySwiper">
              <div class="swiper-wrapper custom-swiper-wrapper ">
                <div class="swiper-slide custom-swiper-slide ">
                  <img class="" src="./images/loster-card.png" alt="Card image cap">
                  <div class="body-card">
                    <h5 class="">لوستر فلان</h5>
                    <div class="price-card">
                      <span class="badge-price">
                        8%
                      </span>
                      <span class="price">
                        15,699,000
                      </span>
                    </div>
                    <p class="line-through">17,000,000</p>
                    <p class="time">08:43:47</p>
                  </div>
                </div>
                <div class="swiper-slide custom-swiper-slide ">
                  <img class="" src="./images/loster-card.png" alt="Card image cap">
                  <div class="body-card">
                    <h5 class="">لوستر فلان</h5>
                    <div class="price-card">
                      <span class="badge-price">
                        8%
                      </span>
                      <span class="price">
                        15,699,000
                      </span>
                    </div>
                    <p class="line-through">17,000,000</p>
                    <p class="time">08:43:47</p>
                  </div>
                </div>
                <div class="swiper-slide custom-swiper-slide ">
                  <img class="" src="./images/loster-card.png" alt="Card image cap">
                  <div class="body-card">
                    <h5 class="">لوستر فلان</h5>
                    <div class="price-card">
                      <span class="badge-price">
                        8%
                      </span>
                      <span class="price">
                        15,699,000
                      </span>
                    </div>
                    <p class="line-through">17,000,000</p>
                    <p class="time">08:43:47</p>
                  </div>
                </div>
                <div class="swiper-slide custom-swiper-slide">Slide 4</div>
                <div class="swiper-slide custom-swiper-slide">Slide 5</div>
                <div class="swiper-slide custom-swiper-slide">Slide 6</div>
                <div class="swiper-slide custom-swiper-slide">Slide 7</div>
                <div class="swiper-slide custom-swiper-slide">Slide 8</div>
                <div class="swiper-slide custom-swiper-slide">Slide 9</div>
              </div>
      
              <div class="swiper-pagination"></div>
      
            </div>
            <div class="swiper-button-next custom-swiper-button-next"></div>
            <div class="swiper-button-prev custom-swiper-button-left"></div>
          </section>

    </main>




    <footer>
        <ul>
            <li>
                <a href="./index.html">
                    <img src="./images/لوگو هران 1.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    دسترسی سریع به محصولات
                </a>
            </li>
            <li>
                <img src="./images/instagram.png" alt="">
                <a href="">lusso.home_tehran</a>
            </li>
            <li>
                <img src="./images/phone.png" alt="">
                <span>07136295234 - 09015454118</س>
            </li>
            <li class="lastLi">
                <div class="location">
                    <img src="./images/location.png" alt="">
                    <span>آدرس: شیراز - خیابان عفیف آباد - مجتمع تجاری سعدی - طبقه ۴ - واحد ۳۹</span>
                </div>
                <div class="namads">
                    <img src="./images/images (aeg1).png" alt="">
                    <img src="./images/images.png" alt="">
                </div>
                <div class="productsBtn">

                    <button>مشاهده محصولات</button>
                </div>
            </li>
            <li class="description">
                <p> کلیه حقوق مادی و معنوی وبسایت متعلق به Lusso Home است.
                    طراحی و توسعه توسط
                    <span>وب آرکا</span>
                </p>
            </li>
        </ul>
    </footer>

    <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      spaceBetween: 30,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      // pagination: {
      //   el: ".swiper-pagination",
      //   clickable: true,
      // },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        $('#myCarousel').carousel({
            interval: false
        });
        $('#carousel-thumbs').carousel({
            interval: false
        });

        // handles the carousel thumbnails
        // https://stackoverflow.com/questions/25752187/bootstrap-carousel-with-thumbnails-multiple-carousel
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr('id');
            var id = parseInt(id_selector.substr(id_selector.lastIndexOf('-') + 1));
            $('#myCarousel').carousel(id);
        });
        // Only display 3 items in nav on mobile.
        if ($(window).width() < 575) {
            $('#carousel-thumbs .row div:nth-child(4)').each(function () {
                var rowBoundary = $(this);
                $('<div class="row mx-0">').insertAfter(rowBoundary.parent()).append(rowBoundary.nextAll().addBack());
            });
            $('#carousel-thumbs .carousel-item .row:nth-child(even)').each(function () {
                var boundary = $(this);
                $('<div class="carousel-item">').insertAfter(boundary.parent()).append(boundary.nextAll().addBack());
            });
        }
        // Hide slide arrows if too few items.
        if ($('#carousel-thumbs .carousel-item').length < 2) {
            $('#carousel-thumbs [class^=carousel-control-]').remove();
            $('.machine-carousel-container #carousel-thumbs').css('padding', '0 5px');
        }
        // when the carousel slides, auto update
        $('#myCarousel').on('slide.bs.carousel', function (e) {
            var id = parseInt($(e.relatedTarget).attr('data-slide-number'));
            $('[id^=carousel-selector-]').removeClass('selected');
            $('[id=carousel-selector-' + id + ']').addClass('selected');
        });
        // when user swipes, go next or previous
        $('#myCarousel').swipe({
            fallbackToMouseEvents: true,
            swipeLeft: function (e) {
                $('#myCarousel').carousel('next');
            },
            swipeRight: function (e) {
                $('#myCarousel').carousel('prev');
            },
            allowPageScroll: 'vertical',
            preventDefaultEvents: false,
            threshold: 75
        });
        /*
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
        });
        */

        $('#myCarousel .carousel-item img').on('click', function (e) {
            var src = $(e.target).attr('data-remote');
            if (src) $(this).ekkoLightbox();
        });
    </script>

    <script src="{% static './Js/product.js' %}"></script>


</body>

</html>