<a href="{{ product.get_absolute_url }}" class="product">
    <img src="{{ product.image.url }}" alt="loster">
    <div class="product-line"></div>
    <div class="product-body">
        <div class="product-description">
            <p class="product-title">{{ product.title }}</p>
            <span class="product-price">
                {{ product.price }}
            </span>
        </div>
        <div class="product-footer">
            <div class="product-exist">
                <img src="./images/mojodi.png" alt="">
                <p>{{product.number}} عدد موجود در انبار</p>
            </div>
            <p class="product-toman">تومان</p>
        </div>
    </div>
</a>